<html>

<body>

		<!-- <button action='/users/new'>register</button> -->

		<form method='GET' action='/users/new'>
		  <input type='submit' value="register">
		</form>

		<% if current_user %>
		Welcome <%= current_user.user_name %>
		<% end %>

		<% @peeps.each do |tweet| %>	
		"<%= tweet.peep %>, <%= tweet.user.name %>, <%= tweet.user.user_name %>"
		<% end %>
</body>


</html>