<html>

	<body>

			<form action='/users/new' method='post'>
			<input type="text" name="name" placeholder="name">
			<input type="text" name="user_name" placeholder="user_name">
			<input type="text" name="email" placeholder="email">
			<input type="text" name="password" placeholder="password">
			<input type="text" name="password_confirmation" placeholder="password_confirmation">
			<input type="submit" value="register">
			</form>

	</body>


</html>